/* 
    Document   : main.css
    Created on : 9 Feb, 2013, 9:09:57 PM
    Author     : Udit Desai
    Description:
        Purpose of the stylesheet follows.
*/

#wall,#followers {
    border-radius: 0.5em;
}

.tweet-box {
    border-radius: 0.5em;
    background-color: #fefefe;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
    margin-top: 2%;
    padding: 1%;
}