/* 
    Document   : main.css
    Created on : 9 Feb, 2013, 9:09:57 PM
    Author     : Udit Desai
    Description:
        Purpose of the stylesheet follows.
*/

#wall {
    border-radius: 0.5em;
    opacity: 0.6;
    filter: alpha(60);
    background
}